//Colors
$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$grayishBlue: hsl(229, 8%, 60%);
$darkBlue: hsl(229, 31%, 21%);
$white: hsl(360, 100%, 100%,);

//Font Sizes
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px